// Dropdown common styles.

// Max width is 500px on these, below is some more sensible settings for,
// Our dropdowns.
.f-dropdown {
  width: auto;
  min-width: 200px;
}
.f-dropdown li a {
  text-decoration: none;
}

button.dropdown.secondary, .dropdown.button.secondary {
  background-color: $dropdown-button-default-background-color;
  border-color: $dropdown-button-border-color;
  color: $dropdown-button-text-color;
  &:hover, &:focus {
    background-color: $dropdown-button-hover-background-color;
  }
  &:active, &.open {
    background-color: $dropdown-button-active-background-color;
    border-color: $dropdown-button-active-border-color;
    color: $dropdown-button-active-text-color;
    &:after {
      border-color: $dropdown-button-active-text-color transparent transparent transparent;
    }
  }
}
