// Replaces system messages styling.
div.messages {
  background-position: 11px 11px;
  border: 1px solid;
  padding: 0.75em 0.75em 0.75em 3em;
  font-weight: $font-weight-bold;;
  margin: 1.2em 0;
}

div.status {
  background-color: $message-status-background-color;
  border-color: $message-status-border-color;
  color: $message-status-text-color;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    margin: 0.05em 1.75em;
    width: 25px;
    height: 25px;
    background: sprite-url($icons) sprite-position($icons, check-in-circle-green) no-repeat;
  }
}

div.warning {
  background-color: $message-warning-background-color;
  border-color: $message-warning-border-color;
  color: $message-warning-text-color;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    margin: 0 1.75em;
    width: 26px;
    height: 23px;
    background: sprite-url($icons) sprite-position($icons, exclamation-in-triangle-gold) no-repeat;
  }
}

div.error {
  background-color: $message-error-background-color;
  border-color: $message-error-border-color;
  color: $message-error-text-color;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    margin: 0.05em 1.75em;
    width: 25px;
    height: 25px;
    background: sprite-url($icons) sprite-position($icons, x-in-circle-red) no-repeat;
  }
}

// Error messages explanation.
.errors.form-wrapper {
  // Add spacing between messages.
  div.form-item{
    padding: 0.5em 0;
  }
  // Make placeholder values bold.
  em.placeholder {
    font-weight: $font-weight-bold;
  }
}

// Meow growl message from Meow library
.meows {
  top: 80px;
  z-index: 9999;
}