// Pagination styles, specifically rounded corners and inline button style.
ul.pagination {
  li {
    border: 1px solid $color-slate-lightest;
    border-left: none;
    margin-left: 0;
    height: auto;
    &.previous, &.previous a {
      border-radius: 25px 0 0 25px;
    }
    &.next, &.next a {
      border-radius: 0 25px 25px 0;
    }
    a {
      text-decoration: none;
      border-radius: 0;
    }
    // Make the active button not look funky and match the border.
    &.current a {
      border-color: $button-hover-background-color;
    }
    &:first-child {
      border: 1px solid $color-slate-lightest;
    }
  }

}

