// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings, rest are set in settings.
h3 {
  // color: $tuatara;
}

h4 {
  font-family: $h4-font-family;
  // color: $tuatara;
}

h5 {
  font-family: $h5-font-family;
  // color: $tuatara;
}

h6 {
  font-family: $h6-font-family;
  color: $link-default-color !important;
}


// Anchors.
a {
  color: $link-default-color;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: $link-hover-color;
  text-decoration: underline;
}

a:active {
  color: $link-active-color;
  text-decoration: underline;
}

// Remove underline decoration from .button styled links.
a.button {
  text-decoration: none;
  min-width: 10em;
}

// This is a hack, due to the way Zurb does their buttons groups.
// If we want to have borders around the buttons and have local tasks,
// Behave like tabs but look like button groups we have to do a little,
// Extra, I am not happy with having to use !important as I make it a,
// Standard to not use it at all but it has to be done here.
ul.button-group {
  // We want to target all buttons in the button group, then,
  // Add borders, add border color, except for border right.
  a.button {
    border-top: 1px solid $button-default-border-color !important;
    border-bottom: 1px solid $button-default-border-color !important;
    border-left: 1px solid $button-default-border-color !important;
    border-right: none;
    border-color: $button-default-border-color !important;
    color: $button-group-text-color !important;
    min-width: 10em;
    background-color: $button-group-bg-color;
    &:hover {
      background-color: $button-hover-background-color !important;
      color: $button-hover-text-color !important;
    }
    &:active {
      background-color: $button-active-background-color !important;
      color: $button-active-text-color !important;
    }
  }
  // Active button in button group.
  & li.active a.button {
    background-color: $button-group-active-bg-color !important;
    border-color: $button-active-border-color !important;
    color: $button-active-text-color !important;
  }
  // Zurb override to add border left to first button.
  & > li:first-child button, & > li:first-child .button {
    border-left: 1px solid;
  }
  // Add border right back to last button, notice we are doing this,
  // Backwards from zurb due to the way they setup theirs.
  & > li:last-child button, & > li:last-child .button {
    border-right: 1px solid $button-default-border-color !important
  }
  // Bring buttons back together as zurb does something weird here.
  &.round > * {
    margin: 0 -3px;
  }
}

// These items did not have zurb settings.
// I don't think plupload button can have an active state, unless it is,
// Done with JS, but adding it just incase.
button, input[type="submit"], .button, .plupload_button {
  min-width: 10em;
  &:active {
    background-color: $button-active-background-color;
    border-color: $button-active-border-color;
  }
}
