// Init of theme settings.

// Allows the use of rem-calc() or lower-bound() in your settings.
@import 'vendor/foundation/functions';

// Make our sprites avalaible early in the process.
@import "compass/utilities/sprites";

// Build out sprite map to use in styles @TODO - Remove, think this is only used in one place still.
$icons: sprite-map("icons/*.png", $spacing: 20px);

// Global styles.
$font-weight-normal:                    normal;
$font-weight-bold:                      bold;
$inherit:                               inherit;

// Floats.
$opposite-direction:                    right;
$default-float:                         left;
$last-child-float:                      $opposite-direction;

// Button border radius.
$button-border-radius:                  40px;

// Open sans font.
$font-open-sans:                        "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-open-sans-condensed:              "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font Assignments.
$h1-font-family:                         $font-open-sans-condensed;
$h2-font-family:                         $font-open-sans-condensed;
$h3-font-family:                         $font-open-sans-condensed;
$h4-font-family:                         $inherit;
$h5-font-family:                         $inherit;
$h6-font-family:                         $inherit;

$button-font-family:                     $font-open-sans-condensed;

$breadcrumb-font-family:                 $font-open-sans-condensed;

// Color Definitions @TODO - remove parcc, make more generic.
// (Some of these were done before and I should have already fixed it).
$color-parcc-purple:                      #72547d;
$color-parcc-purple-light:                #9777a2;
$color-parcc-purple-icon:                 #73547e;

$color-parcc-orange:                      #f66b16;

$color-parcc-blue:                        #0355b7;
$color-parcc-dark-blue:                   #5C6668;
$color-parcc-light-blue:                  #95b0cc;

$color-slate-darkest:                     #3B4244;
$color-slate-dark:                        #406C33;
$color-slate:                             #45586f;
$color-slate-light:                       #6f7e95;
$color-slate-lightest:                    #bdc4ce;

$color-gray-darkest:                      #363636;
$color-gray-dark:                         #464646;
$color-gray:                              #666666;
$color-gray-light:                        #d6d6d6;
$color-gray-lighter:                      #f5f5f5;
$color-gray-lightest:                     #feffff;
$color-gray-darkest-hover:                #2B2B2B;
$color-main-gray:                         #5D6568;
$color-main-gray-darker:                  #313D40;

$color-gray-cb-background:                #E6E6E6;
$color-gray-cb-border-focus:              #C7CDD6;

$color-white:                             #ffffff;

$color-green-dark:                        #394534;
$color-green:                             #8dc63f;
$color-green-light:                       #ddf3d5;

$color-red:                               #bb5465;
$color-red-light:                         #fedcd8;

$color-yellow-dark:                       #96732f;
$color-yellow:                            #d7ce81;
$color-yellow-light:                      #f8f4d5;

$color-transparent:                       rgba(0,0,0,0);

// Header colors.
$header-active-bg-color:                  #2e3f4e;
$header-link-color:                       #95b0cd;
$header-dropdown-bg-color:                #3e5467;

// Button colors.
$button-link-bg:                          #2D4E80;
$button-link-bg-hover:                    #3265B9;
$button-link-bg-active:                   #21395F;

// Sidebar Menu BG Color.
$sidebar-menu-bg-color:                   #6F787B;
// Sidebar extras (the rest is default styling elements).
$nav-color:                               $color-main-gray;
$sidebar-width:                           114px;

$light-green:                             #77996C;

// Color Assignments.

// Header.
$header-background-color:                 $color-slate-dark;

// Body.
$body-background-color:                   $color-parcc-purple;
$body-text-color:                         $color-gray-dark;
$main-background-color:                   $color-white;

// Headers.
$h1-text-color:                           $color-main-gray;
$h2-text-color:                           $color-main-gray;
$h3-text-color:                           $body-text-color;
$h4-text-color:                           $body-text-color;
$h5-text-color:                           $body-text-color;
$h6-text-color:                           $body-text-color;

// Links.
$link-default-color:                      $button-link-bg;
$link-hover-color:                        $button-link-bg-hover;
$link-active-color:                       $button-link-bg-active;

// Buttons.
$button-default-background-color:         $button-link-bg;
$button-hover-background-color:           $button-link-bg-hover;
$button-active-background-color:          $button-link-bg-active;
$button-default-text-color:               $color-white;
$button-hover-text-color:                 $color-white;
$button-active-text-color:                $color-white;
$button-default-border-color:             $button-link-bg;
$button-hover-border-color:               $button-link-bg-hover;
$button-active-border-color:              $button-link-bg-active;

// Button groups.
$button-group-bg-color:                   $color-white;
$button-group-active-bg-color:            $button-link-bg;
$button-group-text-color:                 $color-main-gray;

// Messages.
$message-status-border-color:             $color-green;
$message-warning-border-color:            $color-yellow;
$message-error-border-color:              $color-red;
$message-status-background-color:         $color-green-light;
$message-warning-background-color:        $color-yellow-light;
$message-error-background-color:          $color-red-light;
$message-status-text-color:               $color-green-dark;
$message-warning-text-color:              $color-yellow-dark;
$message-error-text-color:                $color-red;

// Dashboard card icons (default for light background, dark icons).
$color-dash-icon:                      $button-link-bg;

// Tooltip color.
$color-tooltip-bg:                     $color-main-gray-darker;

// Footer.
$footer-background-color:                 $color-main-gray;
$footer-text-color:                       $color-white;

// Header Button Colors.
$header-dropdown-button-default-background-color:   #274120;
$header-dropdown-button-hover-background-color:     #326024;
$header-dropdown-button-active-background-color:    #203917;

// Dropdown Button Colors.
$dropdown-button-default-background-color:          #ffffff;
$dropdown-button-text-color:                        #363636;
$dropdown-button-border-color:                      #3a6292;
// Hover.
$dropdown-button-hover-background-color:            #e2e9f2;
// Active.
$dropdown-button-active-text-color:                 #ffffff;
$dropdown-button-active-background-color:           #2b4b72;
$dropdown-button-active-border-color:               #2b4b72;


// Import box shadow mixin to use.
// If there are multiple places that box shadows will be used move this up,
// To a higher level to only import it once.
@import "compass/css3/box-shadow";
