#homebox {
  position: relative;
}

#homebox-admin-display-form .roles {
  font-size: 86%;
}

/*
** Columns/regions
*/

#homebox {
  #homebox-add-link {
    display: none;
  }
  h4 {
    padding-top: 0.6em;
  }
  .homebox-column {
    margin: 2px;
    padding: 5px;
    // background: url(images/stripe.png);
    min-height: 40px;
  }
  .homebox-column-wrapper {
    float: left;
  }
  .homebox-maximized {
    width: 100%;
  }
  .homebox-portlet {
    margin: 2px 0 5px;
    padding: 0;
    // border: 3px solid #eee;
    background-color: white;
    .homebox-portlet-inner {
      // border: 1px solid #c0c0c0;
      overflow: hidden;
    }
  }
  .portlet-content {
    padding: 4px;
  }
  .homebox-portlet-collapsed .portlet-content {
    display: none;
  }
  .homebox-portlet .portlet-header {
    margin: 0;
    padding: 2px 4px;
    // border-bottom: 1px solid #ddd;
    // background: #e4f0f8;
    /* matches garland */
    // color: #494949;
    min-height: 18px;
    // font-size: 1em;
  }
  .homebox-draggable .portlet-header:hover {
    cursor: move;
  }
  .homebox-portlet {
    .portlet-header .portlet-title {
      display: block;
      z-index: 9;
      /* IE is terrible */
      position: relative;
      /* IE is terrible */
    }
    .portlet-config {
      display: none;
      // border-bottom: 1px solid #ddd;
    }
    div.views-exposed-widgets {
      padding: 0 7px;
    }
  }
  div.view-header {
    text-align: right;
  }
  .portlet-maximized {
    clear: both;
  }
}

/*
** Portlets/boxes
*/

/*
** Icons
*/

.portlet-icon {
  float: right;

  cursor: pointer;
  z-index: 10;
  /* IE is terrible */
  position: relative;
  /* IE is terrible */
}

.portlet-inactive-icon {
  float: right;

  cursor: pointer;
  z-index: 10;
  /* IE is terrible */
  position: relative;
  /* IE is terrible */
}

a.portlet-icon, a.portlet-inactive-icon {
  text-decoration: none;
  color: $aluminum;
  font-size: 0.75em;
  padding: 0 5px;
  &:hover {
    text-decoration: none;
    color: $oil;
  }
}

// .portlet-header .portlet-settings {
//   background: url(images/settings.gif);
// }

.portlet-plus {
  @extend .icon-caret-right;
}

.portlet-minus {
  @extend .icon-down-caret;
}

.portlet-close {
  @extend .icon-close;
}

// .portlet-maximize {
//   background: url(images/maximize.gif);
// }

// .portlet-maximized .portlet-minimize {
//   background: url(images/minimize.gif);
// }

/*
** Closed box/portlet class
*/

#homebox {
  .homebox-portlet-closed {
    display: none;
  }
  .homebox-placeholder {
    visibility: visible !important;
    margin: 5px 0;
    padding: 0;
    /*background: #FFFFDD;*/
    border: 3px dashed #ccc;
    * {
      visibility: hidden;
    }
  }
}

/*
** Placeholder
*/

/*
** Colors
*/

div.homebox-colors {
  float: right;
  margin: 2px;
}

.homebox-color-selector {
  display: block;
  float: left;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 1px;
  border: 1px solid #999;
}

.homebox-color-message {
  font-size: 85%;
  color: #999;
  float: left;
  margin-right: 4px;
}

/* Page configure UI */

#homebox-add {
  margin: 10px 0;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    background: none;
    float: left;
    margin: 0 10px 10px 0;
  }
  .last {
    margin: 0;
  }
  a {
    display: block;
    background: #f4f4f4;
    padding: 5px;
    overflow: hidden;
    border-top: 1px solid transparent;
    outline: 1px solid transparent;
  }
}

#homebox {
  .used {
    background: #F0F0F0;
    border-top: 1px solid #FFFFFF;
    outline: 1px solid #DDDDDD;
  }
  .restore {
    background: none;
    border-top: none;
    outline: none;
  }
}

.homebox-msg {
  margin-right: 10px;
}

#homebox-minimize-to-save {
  font-size: 90%;
  color: #999;
  font-style: italic;
  display: none;
  margin-right: 5px;
}

#homebox-changes-made {
  font-size: 80%;
  color: darkRed;
  font-style: italic;
  display: none;
}

#homebox-add {
  display: none;
  a {
    font-weight: bold;
    &.used, &.restore {
      font-weight: normal;
    }
  }
}

#center #homebox-save-form {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

#homebox-buttons .form-submit {
  margin: 0;
  cursor: pointer;
}

.homebox-auto-save #homebox-save-form {
  display: none;
}
