// View related styles

// Hide progress throbber on autosubmit for now.
.ajax-progress-throbber {
  display: none;
}

.views-field-pads-secure-file-share a {
  text-align: center;
}

.views-field-title a, .views-field-changed a, .views-field-mail-1 a {
  color: $white;
  text-decoration: none;
  &:active {
    color: $white;
    text-decoration: none;
  }
}

// Dashboard help block styles.
.view-pads-dashboard-help-block {
  table {
    border: none;
    tr td {
      text-align: center;
      .help-icons-wrapper {
        font-size: 2.9em;
        color: $h1-text-color;
      }
      .help-tagline-text {
        color: $steel;
      }
    }
  }
}
