// Place button related items here
.button-container {
  float: left; /* LTR */
  padding: .5em 1em 0 0; /* LTR */
}

button.postfix {
  border-color: $iron;
  border-left: none;
  min-width: 1em;
  line-height: 1.5rem;
  padding: 0;
  font-family: $font-open-sans;
  font-weight: normal;
  color: $color-gray-dark;
  &:hover > i {
    color: $white;
  }
  &:hover{
    border-color: $button-hover-background-color;
    color: $white;
  }
}
