.breadcrumbs {
  // Margin on top for breadcrumb container.
  // Check all these styles for zurb vars.
  margin: 0.2em 0 0 0;
  font-family: $breadcrumb-font-family;
  & > ::before {
    top: -1px;
  }
  a {
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
