// Dashboard Cards.

// Import box shadow mixin to use.
// If there are multiple places that box shadows will be used move this up,
// To a higher level to only import it once.
@import "compass/css3/box-shadow";

.dashboard-cards {
  background-color: $white;
  @include box-shadow(rgba(50, 50, 50, 0.26) 1px 2px 7px 0px);
  border: 0;
  &.panel {
    padding-bottom: 0;
  }
  a {
    text-decoration: none;
    display: block;
  }
  h6 {
    margin-top: rem-calc(32);
  }
  .icon {
    font-size: 3em;
    color: $color-parcc-purple-icon;
  }
  .card-actions {
    text-align: right;
    .icon {
      font-size: 2.2em;
    }
  }
  .card-title {
    text-align: right;
  }
}
// Padding around complete box wrapper.
.boxes-wrapper {
  padding: rem-calc(10);
}
