// Dropdown common styles.

// Max width is 500px on these, below is some more sensible settings for,
// Our dropdowns.
.f-dropdown {
  width: auto;
  min-width: 200px;
}
.f-dropdown li a {
  text-decoration: none;
}
