// Header and top bar custom styles.

// Logo adjustments.
.top-bar {
  @media #{$small-only} {
    line-height: rem-calc(50);
    height: rem-calc(50);
  }
  .title-area {
    padding: 0 ($column-gutter / 2);
    float: left;
    width: 100%;
    @media #{$medium-up} {
      padding-right: 0;
    }

    .name {
      display: block;
      // margin-right: $column-gutter;
      @media #{$small-only} {
        line-height: rem-calc(50);
        height: rem-calc(50);
      }
      h1 {
        @media #{$small-only} {
          line-height: rem-calc(50);
        }
        a {
          padding: 0;
          width: auto;
        }
      }
    }
  }
}

.top-bar {
  position: fixed;
  width: 100%;
  z-index: 900;
  display: block;
}
.l-main {
  padding-top: $topbar-height;
}

// Changes background color of menu on mobile screens.
@media #{$small-only} {
  .top-bar.expanded .top-bar-section ul li > a, .top-bar.expanded .top-bar-section a {
    background-color: $color-gray-darkest;
    &:hover{
     background-color: $color-gray-darkest-hover;
    }
  }
  // This is for the Back button on mobile menu.
  .top-bar-section .dropdown li.title h5 a:hover {
    background-color: $color-gray-darkest-hover;
  }
}

// Tablet and lower padding adjustment for main nav.
@media #{$medium-up} {
  .top-bar {
    // For centered menu like prc, this and inline-block on section.
    text-align: center;
  }
  .top-bar-section {
    // Center top-bar nav menu like prc, may not need this.
    display: inline-block;
  }
  .top-bar-section {
    li:not(.has-form) {
      a:not(.button) {
        padding: 0 15px;
      }
    }
  }
}

// Desktop padding adjustment for main nav.
@media #{$large-up} {
  .top-bar {
    // For centered menu like prc, this and inline-block on section.
    text-align: center;
  }
  .top-bar-section {
    // Center top-bar nav menu like prc, may not need this.
    display: inline-block;
    ul li {
      text-align: left;
    }
    li:not(.has-form) {
      a:not(.button) {
        padding: 0 25px;
      }
    }
  }
}

// User navigation outer container.
.user-navigation {
  float: right;
  height: $topbar-height;
  padding-right: ($column-gutter / 2);
  // No text decoration in dropdown.
  .f-dropdown li a {
    text-decoration: none;
  }
}

// User navigation dropdown button image and colors.
.secondary-navigation-dropdown-button {
  background-color: $header-dropdown-button-default-background-color;
  border-radius: $button-border-radius;
  display: block;
  position: relative;
  top: 50%;
  transition: background-color 300ms ease-out;
  &:hover {
    background-color: $header-dropdown-button-hover-background-color;
    &::before {
      content: "";
      position: absolute;
      top: 13%;
      left: 20%;
      width: 22px;
      height: 20px;
      background: sprite-url($icons) sprite-position($icons, profile-icon-active) no-repeat;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -7px;
      right: 16px;
      width: 15px;
      height: 12px;
      background: sprite-url($icons) sprite-position($icons, down-arrow-active) no-repeat;
    }
  }
  &:active {
    background-color: $header-dropdown-button-active-background-color;
  }
  &::before {
    content: "";
    position: absolute;
    top: 13%;
    left: 20%;
    width: 22px;
    height: 20px;
    background: sprite-url($icons) sprite-position($icons, profile-icon) no-repeat;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 16px;
    width: 15px;
    height: 12px;
    background: sprite-url($icons) sprite-position($icons, down-arrow) no-repeat;
  }
}

// User navigation dropdown button container style.
.user-navigation-dropdown-button {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  padding: 8px 16px;
  margin-top: -17px;
  width: 71px;
  height: 34px;
}

.site-name {
  color: $color-white;
  font-size: 1.5em;
  float: left;
  text-transform: uppercase;
  &:before {
    color: $color-parcc-light-blue;
    content: " ";
    border-left: 1px solid $color-parcc-light-blue;
    padding-right: 29px;
  }
}

.pads-organization-context-selector select {
  margin-top: rem-calc(34.4);
}
