// ctools modal styling, mostly taken from the original but weeded out the,
// Useless nonesense.
.ctools-modal-content {
  background: $white;
  color: $black;
  padding: 0;
  margin: 2px;
  border: 1px solid $color-slate-light;
  width: 100%;
  text-align: left;
  // TODO: Put this back when I know how to scroll into view in behat/mink,
  // Or even better when the AJAX happens and field appears scroll automatically.
  // overflow: hidden;
  a.close {
    text-decoration: none;
    color: $white;
    float: right;
    padding: 0.3em;
    @media #{$small-only} {
      padding: 0;
    }
    .icon-close-circle {
      font-size: 1.7em;
      line-height: 1.5;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .modal-header {
    background-color: $header-background-color;
    padding: 0 .25em 0 1em;
  }
  .modal-title {
    color: white;
    margin: 0;
    font-family: "Open Sans Condensed Light", "Helvetica Neue", Helvetica, Arial, Arial, sans-serif;
  }
  .modal-content {
    padding: 1em 1em 0 1em;
    overflow: auto;
    position: relative; /* Keeps IE7 from flowing outside the modal. */
  }
}

// Leaving this here b/c I'm not sure if any of this needed yet.
// It seems like most of it is for forms but not sure if Zurb needs these.

// div.ctools-modal-content .modal-content .modal-throbber-wrapper {
//   text-align: center;
// }

// div.ctools-modal-content .modal-content .modal-throbber-wrapper img {
//   margin-top: 160px;
// }

// /** modal forms CSS **/
// div.ctools-modal-content .form-item label {
//   width: 15em;
//   float: left;
// }

// div.ctools-modal-content .form-item label.option {
//   width: auto;
//   float: none;
// }

// div.ctools-modal-content .form-item .description {
//   clear: left;
// }

// div.ctools-modal-content .form-item .description .tips {
//   margin-left: 2em;
// }

// div.ctools-modal-content .no-float .form-item * {
//   float: none;
// }

// div.ctools-modal-content .modal-form .no-float label  {
//   width: auto;
// }

// div.ctools-modal-content fieldset,
// div.ctools-modal-content .form-radios,
// div.ctools-modal-content .form-checkboxes {
//   clear: left;
// }

// div.ctools-modal-content .vertical-tabs-panes > fieldset {
//   clear: none;
// }

// div.ctools-modal-content .resizable-textarea {
//   width: auto;
//   margin-left: 15em;
//   margin-right: 5em;
// }

// div.ctools-modal-content .container-inline .form-item {
//   margin-right: 2em;
// }

// #views-exposed-pane-wrapper .form-item {
//   margin-top: 0;
//   margin-bottom: 0;
// }

// div.ctools-modal-content label.hidden-options {
//   background: transparent url(../images/arrow-active.png) no-repeat right;
//   height: 12px;
//   padding-right: 12px;
// }

// div.ctools-modal-content label.expanded-options {
//   background: transparent url(../images/expanded-options.png) no-repeat right;
//   height: 12px;
//   padding-right: 16px;
// }

// div.ctools-modal-content .option-text-aligner label.expanded-options,
// div.ctools-modal-content .option-text-aligner label.hidden-options {
//   background: none;
// }

// div.ctools-modal-content .dependent-options {
//   padding-left: 30px;
// }
