// Table styling extras.
// These still need to be checked for settings that can be set, I went,
// Through most of these but I'm not convinced that I caught all of them.
table {
  margin: 1.5em 0;
  width: 100%;
  border-collapse: collapse;
  thead {
    border:1px solid $color-slate-light;
    border-bottom:none;
  }
  tbody tr {
    border: 1px solid $color-slate-lightest;
    border-left: none;
    border-right: none;
    &:first-child {
      border-top: 0;
    }
    &:last-child {
     border-bottom: 0;
    }
  }
  // Table striping, there are a couple of different kinds of tables on the site.
  // and then there are some tables with extra pieces like "select-all divs".
  &.datatables-processed tbody tr:nth-child(even) {
    background-color: $white;
  }
  &.datatables-processed tbody tr:nth-child(odd) {
    background-color: $table-even-row-bg;
  }
  &.pads_datatables-processed tbody tr:nth-child(odd) {
    background-color: $white;
  }
  &.pads_datatables-processed tbody tr:nth-child(even) {
    background-color: $table-even-row-bg;
  }

  input[type="checkbox"] {
    margin: 0;
  }
  td.active, td.sorting_1 {
    background: $table-cell-active-background-color;
    border: solid 1px $table-cell-active-border-color;
  }
  td {
    // Error columns.
    span.error {
      display: block;
      font-style: normal;
      font-weight: $font-weight-bold;
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
      background: $message-error-background-color;
      color: $message-error-text-color;
      width:100%;
      height:100%;
      overflow:auto;
    }
    // Added class to markup so full background would happen.
    &.td-error {
      background: $message-error-background-color;
      border: 1px solid $message-error-border-color;
    }
  }
  // Normal Zurb buttons have a bottom margin but this is in a table.
  td.views-field a.button.dropdown {
    margin-bottom: 0;
  }
}

// Datatables rounded search input.
.dataTables_filter input {
  border-radius: $global-rounded;
}

// Override dataTable sorting images.
.page table.dataTable {
  thead {
    .sorting {
      background: none;
    }
    .sorting_asc {
      background: url('/misc/arrow-asc.png') no-repeat center;
    }
    .sorting_desc {
      background: url('/misc/arrow-desc.png') no-repeat center;
    }
    .sorting_asc_disabled {
      background: url('../datatable/images/sort_asc_disabled.png') no-repeat center;
    }
    .sorting_desc_disabled {
      background: url('../datatable/images/sort_desc_disabled.png') no-repeat center;
    }
  }
}

// Checkboxes inside tables.
// I still need to check on any other checkboxes to make this global but,
// When I did make it global it messed with some styles from items only,
// Shown to admins, so instead of taking the chance of it screwing up other,
// Checkboxes I am leaving this only in a table for now.
// I also disabled this for dataTables that are processed by pads for now,
// B/c these are not picking up my labels and I will need to check to see,
// Why they are not. I will remove the :not() once I add labels in the markup.
table:not(.pads_datatables-processed) input[type='checkbox'] {
  // Size and hide checkbox from view.
  height: 18px;
  width: 18px;
  outline: none;
  border: none;
  opacity: 0;
  background-color: $color-transparent;
  position: relative;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
  & + label {
    // Style label in place of checkbox.
    display: inline-block;
    border: 1px solid $color-slate-light;
    height: 18px;
    width: 18px;
    background-color: $white;
    border-radius: $global-radius;
    margin: 0;
    position: relative;
    top: 2px;
  }
  // Position the content of label.
  & + label::after {
    position: relative;
    bottom: 2.5px;
    padding: 0.29em;
  }
  // When checked, change colors.
  &:checked + label {
    background-color: $color-parcc-purple-light;
    color: $white;
  }
  // Content 'X' to show checked.
  &:checked + label::after {
    content: 'X';
  }
  // Focus label.
  &:focus + label {
    border: 1px solid $color-gray-cb-border-focus;
  }
  // Hover over checkbox.
  &:hover:not(:checked) + label {
    background-color: $color-gray-cb-background;
  }
   &:disabled + label {
    background-color: $color-gray-cb-background;
    border: 1px solid transparent;
    cursor: not-allowed;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

// Will need to inspect this a little further but it looks like my,
// Label on this page is a little off, quick fix here.
.view-pads-test-assignment-detail table.dataTable input[type="checkbox"] + label::after {
  bottom: 24px;
  left: -0.5px;
}
