// Non-modular or client styles for .l-footer region.
#footer {
  background-color: $color-slate-light;
}
.l-footer {
  padding: 50px 0 30px 0;
  font-size: 0.8125em;
  .copyright {
    color: $color-white;
    text-align: center;
  }
}
