// Specific page styling.
#main {
  background-color: $main-background-color;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

// Login page styling.
body.not-logged-in {
  .item-list {
    ul {
      list-style: none;
      margin: 0;
      li a {
        text-decoration: none;
      }
    }
  }
  .description {
    display: none;
  }
  .form-required {
    color: #F66B16;
  }
  @media #{$medium-up} {
    .pane-content {
      min-width: 50%;
      display: block;
      float: left;
    }
  }
}

// I'm not sure what this empty url-textfield is, but it says,
// "Leave this field blank" in the label so I'm hiding this and it,
// Should not affect any functionality since it is supposed to be blank.
.page-user.page-user-password, .page-batchuser.page-batchuser-register {
  .url-textfield {
    display: none;
  }
}

.accordion-navigation {
  margin-top: 10px;
  a {
    font-weight: bold;
    text-decoration: none;
  }
}

// Moves Tooltips over to align with Icons properly.
.page-dashboard .tooltip {
  margin-left: 23px;
}
