// Sidebar menu.
$sidebar-width: 114px;
$nav-color: $color-parcc-dark-blue;

.inner-wrap {
  width: auto;
}

.move-right .inner-wrap {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  margin-left: $sidebar-width;
}

.l-main {
  .off-canvas-wrap {
    overflow: visible;
  }
}

.left-off-canvas-menu {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: fixed;
  width: 0;
  height: 100%;
  z-index: 1;
  margin-top: $topbar-height;
  @media #{$small-only} {
    margin-top: $topbar-height - rem-calc(10);
  }
}

body.admin-menu .left-off-canvas-menu {
  margin-top: $topbar-height + rem-calc(29) !important;
  @media #{$small-only} {
    margin-top: $topbar-height + rem-calc(39.2) !important;
  }
}

.move-right .left-off-canvas-menu {
  width: $sidebar-width;
}

.move-right .exit-off-canvas {
  display: none;
}

.left-off-canvas-toggle {
  display: none;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 3rem;
  color: $nav-color;
  transition: all .25s ease-in-out;

  &:focus {
    color: $nav-color;
  }

  &:hover {
    color: lighten($nav-color, 35%);
    transition: all .25s ease-in-out;
  }
}

.ad-block {
  margin-bottom: 2rem;
}

// Main nav bar adjustments.
ul.main-nav {
  list-style: none;
  margin: 0;
  li {
    a {
      text-decoration: none;
      color: $color-parcc-light-blue;
      padding: 10px 25px;
      display: block;
      text-align: center;
      .title {
        font-size: 0.75em;
      }
      .icon {
        font-size: 2em;
      }
      &.active {
        background-color: $color-slate-darkest;
        color: $color-white;
      }
      &:hover {
        background-color: $color-slate-darkest;
        color: $color-white;
      }
    }
  }
}
