@font-face {
	font-family: 'tap';
	src:url('fonts/tap.eot?i3qvh4');
	src:url('fonts/tap.eot?i3qvh4#iefix') format('embedded-opentype'),
		url('fonts/tap.ttf?i3qvh4') format('truetype'),
		url('fonts/tap.woff?i3qvh4') format('woff'),
		url('fonts/tap.svg?i3qvh4#tap') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'tap';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-organization:before {
	content: "\e82b";
}
.icon-user:before {
	content: "\e82c";
}
.icon-user-checkmark:before {
	content: "\e82c";
}
.icon-add-filled:before {
	content: "\e827";
}
.icon-plus-circle-fill:before {
	content: "\e827";
}
.icon-cancel:before {
	content: "\e825";
}
.icon-score-report:before {
	content: "\e826";
}
.icon-ela-vocabulary:before {
	content: "\e805";
}
.icon-math-fluency:before {
	content: "\e806";
}
.icon-math-progression:before {
	content: "\e807";
}
.icon-reading-comprehension:before {
	content: "\e808";
}
.icon-account:before {
	content: "\e809";
}
.icon-add-panel:before {
	content: "\e80a";
}
.icon-plus-icon:before {
	content: "\e80a";
}
.icon-add:before {
	content: "\e80b";
}
.icon-plus-circle:before {
	content: "\e80b";
}
.icon-assign-tests:before {
	content: "\e80c";
}
.icon-back:before {
	content: "\e80d";
}
.icon-refresh:before {
	content: "\e80d";
}
.icon-close:before {
	content: "\e80e";
}
.icon-close-circle:before {
	content: "\e80e";
}
.icon-collapse-down:before {
	content: "\e828";
}
.icon-down-caret:before {
	content: "\e828";
}
.icon-collapse-right:before {
	content: "\e829";
}
.icon-caret-right:before {
	content: "\e829";
}
.icon-collapse-up:before {
	content: "\e82a";
}
.icon-up-caret:before {
	content: "\e82a";
}
.icon-collapse-left:before {
	content: "\e80f";
}
.icon-left-caret:before {
	content: "\e80f";
}
.icon-crosshair:before {
	content: "\e810";
}
.icon-delete:before {
	content: "\e811";
}
.icon-download:before {
	content: "\e812";
}
.icon-edit:before {
	content: "\e813";
}
.icon-pencil:before {
	content: "\e813";
}
.icon-email:before {
	content: "\e814";
}
.icon-envelope:before {
	content: "\e814";
}
.icon-star:before {
	content: "\e815";
}
.icon-favorite:before {
	content: "\e815";
}
.icon-filter:before {
	content: "\e816";
}
.icon-access-code:before {
	content: "\e817";
}
.icon-graph:before {
	content: "\e818";
}
.icon-like:before {
	content: "\e819";
}
.icon-media:before {
	content: "\e81a";
}
.icon-menu-stack:before {
	content: "\e81b";
}
.icon-menu:before {
	content: "\e81b";
}
.icon-down-arrow:before {
	content: "\e81c";
}
.icon-up-arrow:before {
	content: "\e81d";
}
.icon-pdf:before {
	content: "\e81e";
}
.icon-stacked-files:before {
	content: "\e81e";
}
.icon-print:before {
	content: "\e81f";
}
.icon-read:before {
	content: "\e820";
}
.icon-minus:before {
	content: "\e821";
}
.icon-remove:before {
	content: "\e821";
}
.icon-search:before {
	content: "\e822";
}
.icon-secure-files:before {
	content: "\e823";
}
.icon-view-tests:before {
	content: "\e824";
}
.icon-eye:before {
	content: "\e824";
}
.icon-classes:before {
	content: "\e800";
}
.icon-dashboard:before {
	content: "\e801";
}
.icon-help:before {
	content: "\e802";
}
.icon-students:before {
	content: "\e803";
}
.icon-tests:before {
	content: "\e804";
}

