// Drupal comes with CSS quirks (Drupalisms). Unravel or override them here.

// Make the "sticky" Top Bar play nice with the "fixed" Admin Menu.
.admin-menu .fixed {
  top: emCalc(29px);
}

// Adminimal menu fix for frontend, look into upgrading to dev release,
// And adding media queries to .adminimal-frontend instead of this.
body.admin-menu {
  margin-top: 29px !important;
}
body.admin-menu .tooltip {
  margin-bottom: 29px !important;
}
// This one was recently added by adminimal menu and I need to make a patch.
@media screen and (max-width: 1024px) {
  body.admin-menu.adminimal-menu:before {
    height: 0;
  }
}

// Normal text size in admin-menu lists
.admin-menu ul,
.plupload ul {
  font-size: inherit;
}

// Remove the bottom padding on status messages when displayed inside a Zurb
// Foundation Reveal modal.
#status-messages.reveal-modal {
  .alert-box {
    margin-bottom: 0;
  }
}

// Fix Zurb Foundation Reveal Modal z-index and make it play nice with dropdown
// menus, lightboxes, etc.
.reveal-modal {
  z-index: 999;
}

// Override Drupal Core pager styles. This is necessary because we need to keep
// the .pager class on pagers for Views AJAX to work. If you are disabling
// Drupal Core CSS you can safely comment the following lines.
.item-list .pager {
  clear: none;
}

.item-list .pager li {
  padding: 0;
}

/* modal node form */
div.ctools-modal-content form.node-form.node-secure_file-form .form-item :not(.form-type-checkbox) label {
  float: none;
  width: 100%;
}
div.ctools-modal-content form.node-form.node-secure_file-form .form-item.form-type-radio label{
  width: auto;
  float: none;
}

div.ctools-modal-content .resizable-textarea {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

/* node edit forms */
div#edit-acl-view-deletions.form-checkboxes input {
  margin: 0;
}

/* views exposed forms */
.views-exposed-form .views-exposed-widget button.form-submit {
  margin-top: 0px;
}

/* upload button top margin */
div.panel-pane.pane-addfile div.pane-content .right {
  margin-top: 10px;
}

/* Zurb buttons in entity fields. */
button.pads-org-widget-remove,
.field-type-file.field-name-field-file button {
  margin-bottom: 0px;
}

/* Menu as button group */
ul.menu.button-group {
  margin-top: 10px;
}

/* Sticky footer. http://www.cssstickyfooter.com/using-sticky-footer-code.html */
html, body, div.page {height: 100%;}

#wrap {min-height: 100%;}

// Must be same height as the footer.
// There is no Footer any longer though.
#main {
  overflow: auto;
  padding-bottom: 10px;
}
.page #main {
  background-color: transparent;
}
// @TODO: Remove all of these old styles.
#footer {
  position: relative;
  // margin-top: -90px; /* negative value of footer height */
  // height: 90px;
  clear:both;
}

/* Description fix on plupload form type */
div.form-item.form-type-plupload.form-item-file .description {
  margin-top: 10px;
}

// Format small text for special instructions
.small-instruct {
  font-size: 80%;
}

/* vbo selects */
.vbo-views-form form select {
  width: 13em;
}

/* unlinked breadcrumbs */
div.item-list ul.breadcrumbs {
  background: none;
  border: none;
  padding: 0px;
}

div.item-list ul.breadcrumbs li {
  margin-left: 0px;
  font-size: 1.2em;
  line-height: 1.2em;
}

/* chosen and hs */
button.add-to-dropbox {
  clear: left;
  margin-top: 5px !important;
}

div.hierarchical-select div.selects a.chosen-single {
  background-image: none;
}

div.hierarchical-select div.selects select {
  min-width: 200px;
}

div.hierarchical-select div.selects div.chosen-container.form-select {
  width: 100% !important;
  margin: 0;
  margin-right: .5em;
  margin-bottom: 3px;
  float: left;
}

/* form selects */
.container-inline select {
  width: auto;
  padding-right: 1rem;
}

/* Views bulk operations form styling. */
.vbo-views-form div.form-item.form-item-operation {
  display: inline-block;
}

// Modal fix.
// Fix for browsers that honor these items on labels sometimes maybe.
div.ctools-modal-content .form-item label {
 width: auto;
 float: none;
}
