// Chosen defaults and overrides to default chosen theme.

.chosen-container {
  margin: 10px;
}

.chosen-container-single .chosen-single {
  border-radius: 0;
  box-shadow: none;
  background: none;
  background-color: #FAFAFA;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  color: rgba(0, 0, 0, 0.75);
  font-family: inherit;
  font-size: 0.875rem;
  line-height: normal;
  padding: 0.5rem;
  height: 2.3125rem;
}

.chosen-container.chosen-container-active > a {
  border-color: #0074BD;
}

.chosen-container.chosen-container-active .chosen-drop,
.chosen-container-active .chosen-choices {
  border-color: #0074BD;
}

.chosen-container-single .chosen-single div b {
  background-position: 0px 4px;
}

.chosen-container-single .chosen-drop,
.chosen-container-multi .chosen-drop {
  border-radius: 0;
  box-shadow: none;
}

.chosen-container-multi .chosen-choices li.search-choice,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container-active .chosen-choices {
  box-shadow: none;
  border-radius: 0;
  background-image:none;
}
.chosen-container-multi .chosen-choices {
  background: #fff;
}
.chosen-container-multi .chosen-choices li.search-choice {
  background: #e3e3e3;
  border-color: #e3e3e3;
}
.chosen-container .chosen-results li.highlighted {
  background: #0074BD;
}

.chosen-container .chosen-results li.group-result {
  background: #eaeaea;
}

.chosen-container-single .chosen-single div b {
  margin-top: 5px;
}
