// Plupload styles

.plupload_button {
  @include button($padding: rem-calc(10), $radius: 1000px);
}

a.plupload_button {
  text-decoration: none;
}

.plupload_wrapper {
  border: 3px dashed #bebebe;
}

label[for='edit-file'] {
  display: none;
}

.form-type-plupload {
  margin-top: rem-calc(20);
}

.plupload_scroll .plupload_filelist {
  height: 135px;
  overflow-y: scroll;
  background: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.plupload_filelist li {
  background: #F5F5F5;
  border-bottom: 1px solid #DDD;
  padding: 10px 8px;
}

.plupload_filelist_header,.plupload_filelist_footer {
  // background:#DFDFDF;
  // color:#42454A;
  // padding:6px 8px;
}

// Don't need the header here.
.plupload_filelist_header {
  display: none;
  // border-top:1px solid #EEE;
  // border-bottom:1px solid #CDCDCD;
}

.plupload_filelist_footer {
  // border-top:1px solid #FFF;
  // height:22px;
  // line-height:20px;
  // vertical-align:middle;
}

.plupload_file_name {
  // float: left;
  // overflow: hidden;
  text-align: center;
}

.plupload_file_status {
  // color: #777;
}

.plupload_file_status span {
  color: #42454A;
}

.plupload_file_size,.plupload_file_status,.plupload_progress {
  float: right;
  width: 80px;
}

.plupload_file_size,.plupload_file_status,.plupload_file_action {
  // text-align: right;
  display: none;
}

.plupload_filelist .plupload_file_name {
  width: 205px;
}

.plupload_file_action {
  float: right;
  width: 16px;
  height: 16px;
  margin-left: 15px;
}

.plupload_file_action * {
  display: none;
  width: 16px;
  height: 16px;
}

li.plupload_uploading {
  // background: #ECF3DC url('images/backgrounds.gif') repeat-x 0 -238px;
}

li.plupload_done {
  color: #AAA;
}

li.plupload_delete a {
  // background: url('images/delete.gif');
}

li.plupload_failed a {
  // background: url('images/error.gif');
  // cursor: default;
}

li.plupload_done a {
  // background: url('images/done.gif');
  // cursor: default;
}

.plupload_progress,.plupload_upload_status {
  display: none;
}

.plupload_progress_container {
  margin-top: 3px;
  border: 1px solid #CCC;
  background: #FFF;
  padding: 1px;
}

.plupload_progress_bar {
  width: 0;
  height: 7px;
  background: #CDEB8B;
}

.plupload_scroll .plupload_filelist_header .plupload_file_action,.plupload_scroll .plupload_filelist_footer .plupload_file_action {
  margin-right: 17px;
}

.plupload_clear,.plupload_clearer {
  clear: both;
}

.plupload_clearer,.plupload_progress_bar {
  display: block;
  font-size: 0;
  line-height: 0;
}

li.plupload_droptext {
  background: transparent;
  text-align: center;
  vertical-align: middle;
  border: 0;
  line-height: 115px;
  list-style-type: none;
}

.plupload_header {
  display: none;
}

.plupload_start,a.plupload_start:hover {
  // background: transparent url(images/up_arrow.png) no-repeat 0 center;
  // z-index: 100000;
}
