// Init of theme settings.

// Allows the use of rem-calc() or lower-bound() in your settings.
@import 'vendor/foundation/functions';

// Make our sprites avalaible early in the process.
@import "compass/utilities/sprites";

// Build out sprite map to use in styles.
$icons: sprite-map("icons/*.png", $spacing: 20px);

// Global styles.
$font-weight-normal:        normal;
$font-weight-bold:          bold;
$inherit:                   inherit;

// Floats.
$opposite-direction: right;
$default-float: left;
$last-child-float: $opposite-direction;

// Open sans font.
$font-open-sans:                "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-open-sans-condensed:      "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font Assignments.
$h1-font-family:            $font-open-sans-condensed;
$h2-font-family:            $font-open-sans-condensed;
$h3-font-family:            $font-open-sans-condensed;
$h4-font-family:            $inherit;
$h5-font-family:            $inherit;
$h6-font-family:            $inherit;

$button-font-family:        $font-open-sans-condensed;

$breadcrumb-font-family:    $font-open-sans-condensed;

// Color Definitions.

$color-parcc-purple:            #72547d;
$color-parcc-purple-light:      #9777a2;
$color-parcc-purple-icon:       #73547e;

$color-parcc-orange:            #f66b16;

$color-parcc-blue:              #0355b7;
$color-parcc-dark-blue:         #44596f;
$color-parcc-light-blue:        #95b0cc;

$color-slate-darkest:           #2f3f4e;
$color-slate-dark:              #344759;
$color-slate:                   #45586f;
$color-slate-light:             #6f7e95;
$color-slate-lightest:          #bdc4ce;

$color-gray-darkest:            #363636;
$color-gray-dark:               #464646;
$color-gray:                    #666666;
$color-gray-light:              #d6d6d6;
$color-gray-lighter:            #f5f5f5;
$color-gray-lightest:           #feffff;
$color-gray-darkest-hover:      #2B2B2B;

$color-gray-cb-background:      #E6E6E6;
$color-gray-cb-border-focus:    #C7CDD6;

$color-white:                   #ffffff;

$color-green-dark:              #394534;
$color-green:                   #8dc63f;
$color-green-light:             #ddf3d5;

$color-red:                     #bb5465;
$color-red-light:               #fedcd8;

$color-yellow-dark:             #96732f;
$color-yellow:                  #d7ce81;
$color-yellow-light:            #f8f4d5;

$color-transparent:             rgba(0,0,0,0);

// Header colors.

$header-active-bg-color:        #2e3f4e;
$header-link-color:             #95b0cd;
$header-dropdown-bg-color:      #3e5467;

// Color Assignments.

$header-background-color:               $color-slate-dark;

$footer-background-color:               $color-parcc-purple;
$footer-text-color:                     $color-white;

$body-background-color:                 $color-parcc-purple;
$body-text-color:                       $color-gray-dark;

$main-background-color:                 $color-white;

$h1-text-color:                         $color-parcc-purple;
$h2-text-color:                         $color-parcc-purple;
$h3-text-color:                         $body-text-color;
$h4-text-color:                         $body-text-color;
$h5-text-color:                         $body-text-color;
$h6-text-color:                         $body-text-color;

$link-default-color:                    $color-parcc-purple;
$link-hover-color:                      $color-parcc-purple;
$link-active-color:                     $color-parcc-purple;

$button-default-background-color:       $color-white;
$button-hover-background-color:         $color-parcc-purple-light;
$button-active-background-color:        $color-parcc-purple;
$button-default-text-color:             $color-gray-darkest;
$button-hover-text-color:               $color-white;
$button-active-text-color:              $color-white;
$button-default-border-color:           $color-parcc-purple;
$button-hover-border-color:             $color-parcc-purple;
$button-active-border-color:            $color-parcc-purple;

$header-dropdown-button-default-background-color:   $color-slate;
$header-dropdown-button-hover-background-color:     $color-slate-darkest;
$header-dropdown-button-active-background-color:    $color-slate-darkest;

$message-status-border-color:           $color-green;
$message-warning-border-color:          $color-yellow;
$message-error-border-color:            $color-red;
$message-status-background-color:       $color-green-light;
$message-warning-background-color:      $color-yellow-light;
$message-error-background-color:        $color-red-light;
$message-status-text-color:             $color-green-dark;
$message-warning-text-color:            $color-yellow-dark;
$message-error-text-color:              $color-red;

// Style Definitions

$button-border-radius:  40px;
